@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');


:root {
  --background: #222129;
  --foreground: #eceae5;
  --accent: #ffa86a;
}

* {
  --color-gray: #808080;

  /* themeColorを切り替えたらここも切り替える */
  /* orange */
  --color-theme: #FFA86A; 
  /* blue */
  /* --color-theme: #23B0FFB3;  */

  -webkit-font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: none;
}

html,
body {
  /* padding: 15px; */
  max-width: 1200px;
  margin: 0;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: var(--color-theme);
  text-decoration: none;
}

/* 記事末尾の「次の記事ボタン」「前の記事ボタン」のスタイル */
.button.next,.button.previous{
    border: 0;
    max-width: 100%;
}

.button a {
  background-color: var(--color-gray);
  color: white;
}

code {
  background-color: rgba(99,110,123,0.4);
  border-radius: 8px;
  padding: 0 8px;
}

img {
  max-width: 100%;
  max-height: 600px;
}

h2 {
  border-bottom: solid 2px var(--color-gray);
  padding-bottom: 4px;
  /* margin: 30px 0; */
}

h3 {
  padding-bottom: 4px;
  margin: 30px 0;
}

.post-cover, a.read-more {
  display: none;
}

p > img {
  border: none;
  display: block;
  margin: 0 auto;
}

th, td {
  border: 2px solid var(--accent)
}

article.post > div.post-meta {
  margin-top: 8px;
}

article.on-list > .post-content,
article.on-list > .post-title::after {
  display: none;
}

article.on-list > .post-title {
  padding-bottom: 0;
  border: none;
}

article.on-list {
  margin: 24px auto;
  padding: 0;
}

.headings--one-size h1:not(first-child), .headings--one-size h2:not(first-child), .headings--one-size h3:not(first-child), .headings--one-size h4:not(first-child), .headings--one-size h5:not(first-child), .headings--one-size h6:not(first-child) {
  margin-top: 20px;
}

.pagination__title {
  margin: 20px 0 20px;
}

ul {
  margin-top: 30px;
}

ol {
  margin-bottom: 0px;
}

blockquote {
  position: relative;
  border-left: 2px solid var(--color-gray);
  border-top: none;;
  border-bottom: none;;
  margin: 0;
  padding: 10px 25px;
  color: var(--color-gray);
}

blockquote::before {
  display: none;
}
